/******************************/
/* Core Styles ***************/
/****************************/
body{
	font-family: 'Playfair Display', serif;
	font-weight: normal;
	background-color: #f4f4f4;
	color: #373737;
}

.primary{
	background-color: #373737;
	color: #f4f4f4;
}
.secondary{
	text-align: center;
}
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/********************************/
/* Typography ******************/
/******************************/
h1{
	font-size: 60px;
	font-weight: 900;
	line-height: 1;
	margin: 0px;
}
h2{
	font-size: 28px;
	font-weight: 700;
	line-height: 1.2;
	margin: 0px;
}
h3{
	font-size: 20px;
	line-height: 1.3;
	font-weight: lighter;
	margin: 0px;
}
p{
	font-family: 'Fauna One', serif;
	font-size: 15px;
	line-height: 1.88;
	font-weight: 200;
	text-align: left;
	margin-bottom: 0px;
}
li{
	font-family: 'Fauna One', serif;
	font-size: 14px;
	text-decoration: none;
}

a{
	font-family: 'Fauna One', serif;
	font-size: 14px;
	color: #2a6832;
	text-align: left;
	text-transform: uppercase;
}

a:hover {
	color: #C0B283;
}

/*********************************/
/* Specific Content Blocks ******/
/*******************************/
/******************************/

/* Hero **********************/
.topNav{
	text-align: right;
	word-spacing: 25px;
	padding-top: 30px;
}

#introInfo{
	margin-bottom: 50px;
}

#introInfo h1, h2{
	margin-bottom: 8px;
}

.heroBox{
	width: 100%;
	height: 710px;
	background-image: url(images/heroBG.jpg);
	background-color: #373737;
	background-size: cover;
	display: flex;
	/* Slanted edge- webkit only support currently*/
  	clip-path: polygon(
    	0 0, /* left top */
    	100% 0, /* right top */ 
    	100% 100%, /* right bottom */
    	0 95% /* left bottom */
  	);
}

.heroText{
	color: #f4f4f4;
	padding-top: 130px;
}

.socialTop{
	margin: 0;
	word-spacing: 30px;
}
.socialTop a{
	color: #f4f4f4;
	text-decoration: none;
}
.socialTop a:hover{
	color: #c0b283;
}

.socialTop i{
	margin: 0px 5px 0px 5px;
}
/* Projects *******************/

/* Expertise ******************/

#expertise{
	padding: 20px;
}

/* Hero **********************/
.socialMedia{
	font-size: 14px;
	font-family: 'Fauna One', serif;
}

.description{

}
